flex(a,b,c,d)
    display: flex
    flex-direction: a
    flex-wrap: b
    justify-content: c
    align-items: d
mp(m,p)
	margin: m
	padding: p

html
    font-size 16px



// vuejs animation 

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

// vuejs animation  end 