body{
	margin: 0; 
	padding: 0; 
	font-size: 100%;
}

#foo{
	width: 87%;
	padding: 1px;

}

.wrap{
	margin: 0 auto;
	width: 80%;
	height: 100vh;
	display: -ms-grid;
	display: grid;
	    grid-template-areas: "head"
                         "main"
                         "foot";
	-ms-grid-columns: 1fr;
	    grid-template-columns: 1fr;
	-ms-grid-rows: 185px auto 185px;
	    grid-template-rows: 185px auto 185px;
	grid-gap: 10px;
}
header{
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: head;
	background: #E9E9E9 ;
	border-radius: 0 0 10px 10px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: space-around;
	flex-direction: row;
	position:-webkit-sticky;
	position:sticky;
	top:0;
}
.label{
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
}
.contacts{
	width: 40%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: column nowrap;
}
.bordered{
	padding-bottom: 5px;
	border-bottom: 7px solid #FBBD03;
}
.badge {
	min-width: 35%;
	padding: 10px;
	font-size: 1.2rem;
	margin: 5px auto;
}
.badge a{
	color: inherit;
}

main{
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	grid-area: main;
	position: relative;
	background: url(girl.webp);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 80vh;
}

main .txt {
	position:absolute;
	bottom:15%;
	right:8%;
	min-width: 29%;
	background: #384A7DDF;
	padding: 22px 52px;
	color:#fff;
}
 h2 {
	font-size: 2.41rem;
	font-variant: small-caps;
}
 p {
	display: block;
	text-align: center;
	font-size: 1.08rem;
	letter-spacing: 1.2px;
}

footer{
	border-radius: 10px 10px 0 0 !important; 
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
	-ms-grid-row:3;
	-ms-grid-column:1;
	grid-area:foot;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.line{
	width:2px;
	background: #FBBD03;
	height: 85%;
}
section{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
li{
	background: transparent !important;
}
iframe{
	width: 95%;
}
@media (max-width: 787px){
	.wrap{
		width: 90%;
		-ms-grid-rows: 270px auto 325px;
		    grid-template-rows: 270px auto 325px;
	}
	footer,header{
		flex-direction: column;
		align-items: center;
	}

	section, .label,.contacts {
		width: 90%;
	}
	.contacts .badge {
		margin: 12px 0;
	}
	.line {
		width: 75%;
		height: 2px;
		margin:12px;
	}
	main .txt {
		right: 0;
	}
	iframe{
		width: 100%;
		margin: 5px;
	}
}
