body {
	margin: 0;
	padding:0;
	background-image: url(bs.jpg);
	overflow: hidden;
}
.cleaner {
	clear:both;
}
.header {
	width:100%;
    min-height: 85px;
	background: #ffc3e1;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.9);
	z-index:50;
}
.header_case {
	margin:0 auto;
	width: 79%;
	height:98px;
	padding :15px;
	border-radius:0 0 10px 10px;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.9);
	background:#fff0f7;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	z-index: 1000;
}
.logo_name_box {
	height:100px;
	margin-right: 27px;
	float:right;
}
@font-face {
	font-family: 'Space';
	src:url('space.ttf');
} 
h1 {
	font-family: Space;
	font-size: 39px;
	font-variant:small-caps;
	color: black;
	text-align:center;
	text-shadow: 0px 0px 6px rgba(0,0,0,0.9);
}

.logo_name {
	font-family: Space;
	font-size:60px;
	color: black;
	text-transform:uppercase;
	font-weight: bold;
	padding-top:10px;
	text-shadow: 0px 0px 8px rgba(0,0,0,0.9);
	-webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;
}

.logo_name:hover {
	color: white;
	text-shadow: 0px 0px 12px grey;
	-webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;
	-webkit-margin-start: 5px;
}
.logobox {
	margin-right: 5px;
	width:95px;
	height:95px;
}
.logo {
	background: url(logo.png) no-repeat;
	background-size: contain;
	height:95px;
	-webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;	
}    
.logo:hover {
	background: url(logopng.png) no-repeat;
	background-size: contain;
	-webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;
}
.menu_box {
	max-width:60%;
	min-height: 35px;
	margin: -1px auto;
	padding:1px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.menu_box_button_case {
	width: 18%;
	height:37px;
	line-height: 45px;
	background:white;
	margin:0 auto ;
	float:left;
	background: none;
	-webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;
    z-index: 2;
}
.menu_box_button_case:hover {
	background:white;
	z-index: 1;
	-webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;
}
.menu_button {
	font-family: Space;
	font-size:23px;
	color: black;
	text-transform:uppercase;
	font-weight: bold;
	text-align:center;
	letter-spacing: 6px;
	text-shadow: 0px 0px 6px rgba(0,0,0,0.9);
	-webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;
}
a {
	text-decoration:none;
	color:black;
	-webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;
}
a:hover {
	color: white;
	-webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;
}
.menu_button:hover {
	color: white;
	-webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;
}
.boxbody {
	position:relative;
	width:80%;
	margin: 20px auto;
	padding: 10px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.article {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	min-height:150px;
	margin: 5px auto 25px;
}
.article.cent {
	text-align: center;
}
.body_left_case {
	width:40%;
	background:white;
	padding: 15px 20px;
	height: 75%;
	overflow-y :scroll;
	box-shadow: -3px 3px 10px 4px #000;
	position:relative;
	-webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;
}
.body_left_case:hover {
  box-shadow: -3px 3px 10px 5px #000;
  -webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;
}
.bodycase {
	width:80%;
	background:white;
	padding: 15px 20px;
	height: 75%;
	overflow-y :scroll;
	box-shadow: -1px 3px 10px 4px #000;

}

.body_right_case {
	width:40%;
	padding: 15px 20px;
	box-shadow: 3px 3px 9px 4px #000;
	height: 75%;
	background:white;
	overflow-y :scroll;
	position:relative;
	-webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;
}
.body_right_case:hover {
  box-shadow: 0 3px 9px 4px #000;
  -webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;
}
.picture_box {
	width:39%;
	height: 260px;
	margin:0 5px;
}
img {
	border-radius: 10px;
	width: 100%;
	height: 100%;
}
p {
	margin: 2px auto 10px;
	font-family:cyril;
	letter-spacing: 2px;
	font-size:20px;
	word-spacing:11px;
	line-height:23px;
}
@font-face {
	font-family: "cyril";
	src:url("cyril.otf");
}
.body_inner_text {
	width: 56%;
	min-height:290px;
	padding: 0 5px;
}
.body_right_case::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
	background-color: #CCCCCCcf;
}

.body_right_case::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5cf;
}

.body_right_case::-webkit-scrollbar-thumb
{
	background-color: #F5F5F5cf;
	border-radius:5px;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, 1) 0%,
											  rgba(0, 0, 0, 1) 25%,
											  transparent 100%,
											  rgba(0, 0, 0, 1) 75%,
											  transparent)
}
.body_left_case::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
	background-color: #CCCCCCcf;
}

.body_left_case::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

.body_left_case::-webkit-scrollbar-thumb
{
	background-color: #F5F5Ffcf;
	border-radius:5px;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, 1) 0%,
											  rgba(0, 0, 0, 1) 25%,
											  transparent 100%,
											  rgba(0, 0, 0, 1) 75%,
											  transparent)
}
