body{
	margin: 0;
	padding: 0;
}
.wrap{
	width: 80%;
	height: auto;
	margin:75px auto 100px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: minmax(220px, max-content) auto auto auto;
	grid-template-areas: "statuS statuS statuS"
						 "graphFullOne graphFullOne graphFullOne"
						 "minMax minMax perYear"
						 "graphFullTwo graphFullTwo graphFullTwo";
	grid-gap: 50px;
}
.status-bar{
	grid-area: statuS;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	height: auto;
	overflow: hidden;
	transition: height ease 2s;
}
.cell{
	width: 30%;
	min-height: 200px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	transition: height ease 2s;
}
.cell p {
	text-align: center;
	font-size: 19.5px;
}
.add-form{
	display: none;
	height: 0px;
	margin:5px 6px;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	padding: 3px 0;
}
input{
	padding: 23px 0 !important;
}
.card{
	color:#fff;
	font-size: 18px;
	text-align:center;
	letter-spacing: 1.4px;
	font-variant: small-caps;
	user-select: none;
}
.graph-full{
	grid-area: graphFullOne;
	padding: 25px 0;
}
.min-max{
	grid-area: minMax;
	padding: 1px 15%;
}
.min-max .card {
	width: 90%;
}
.min-max p {
	font-size: 21px;
}
.graph-full-2{
	grid-area: graphFullTwo;
	padding: 45px 0;
}
.per-year{
	grid-area: perYear;
}

.cells{
	background: #f8f8f9;
	box-shadow: 0 0 9px grey;
}
#addBtn {
	transition: ease-in 0.5s;
}
#addBtn:hover{
	cursor: pointer;
	background: #e3e3e3;
	color:#E74C3C;
	box-shadow: 0 0 7px #E74C3C;
	transition: ease-in 0.3s;
}
#send:hover {
	background:#E74C3C;
	color:#fff; 
	transition: ease-in 0.3s;
	border-radius: 2px;
}
#send:active, #addBtn:active {
	transition: ease-in 0.5s;
	transform: scale(0.79);
}

/* mobile media */

@media only screen 
and (max-width : 680px)
and (min-width : 200px){
	.wrap{
		width: 90%;
		grid-template-rows: auto auto auto auto auto;
		grid-template-areas: "statuS statuS statuS"
						 "graphFullOne graphFullOne graphFullOne"
						 "minMax minMax minMax"
						 "perYear perYear perYear"
						 "graphFullTwo graphFullTwo graphFullTwo";
	}
	.cells {
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	.cell{
		width: 90%;
	}
	.forHide,.add-form{
		order: -1;
	}
}	

/* tablet media */
@media only screen 
and (max-width : 1010px)
and (min-width : 681px){
	.cell > .card{
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.wrap{
		width: 89%;
		grid-template-rows: auto auto auto auto auto;
		grid-template-areas: "statuS statuS statuS"
						 "graphFullOne graphFullOne graphFullOne"
						 "minMax minMax minMax"
						 "perYear perYear perYear"
						 "graphFullTwo graphFullTwo graphFullTwo";
	}
	.min-max{
		    padding: 5px 20%;
	}
}

/* input date customization */
[type="date"] {
  padding: 2px !important;
  border: none;
  border-bottom: solid 3px #1abc9c;
  background:#F8F8F9 url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
