body{
	margin: 0;
	padding: 0;
}
.wrap{
	width: 70%;
	height: auto;
	margin:75px auto 100px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: minmax(210px, max-content) auto auto auto;
	grid-template-areas: "statuS statuS statuS"
						 "graphFullOne graphFullOne graphFullOne"
						 "minMax perYear perYear"
						 "graphFullTwo graphFullTwo graphFullTwo";
	grid-gap: 50px;
}
.status-bar{
	grid-area: statuS;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	height: auto;
	overflow: hidden;
	transition: height ease-in-out 0.7s;
}
.cell{
	width: 30%;
	min-height: 200px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	transition: height ease-in-out 0.7s;
}
.cell p {
	text-align: center;
	font-size: 19.5px;
}
.add-form{
	display: none;
	min-height: 0px;
	border-left: 1px solid lightgrey;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	padding: 2px 0;
}
input{
	padding: 15px 0 !important;
}
.card{
	color:#fff;
	font-size: 18px;
	text-align:center;
	letter-spacing: 1.4px;
	font-variant: small-caps;
	user-select: none;
}
.graph-full{
	grid-area: graphFullOne;
	padding: 25px 0;
}
.min-max{
	grid-area: minMax;
}
.min-max .card {
	width: 90%;
}
.min-max p {
	font-size: 21px;
}
.graph-full-2{
	grid-area: graphFullTwo;
	padding: 25px 0;
}
.per-year{
	grid-area: perYear;
}

.cells{
	background: #f8f8f9;
	box-shadow: 0 0 9px grey;
}
#addBtn {
	transition: ease-in 0.5s;
}
#addBtn:hover{
	cursor: pointer;
	background: #e3e3e3;
	color:#E74C3C;
	box-shadow: 0 0 7px #E74C3C;
	transition: ease-in 0.3s;
}
#addBtn:active {
	transition: ease-in 0.5s;
	transform: scale(0.89);
}