.inkMe {
box-sizing:border-box;
overflow:hidden;
position:relative !important;}

.inkMe {
text-decoration:none;
font-size:20px;
display:inline-block;
border:1px solid #666;
border-radius:3px;
padding:10px;
color:#000;
cursor:pointer;
position:relative;
overflow:hidden;
text-align:center;
user-select:none;
-webkit-user-select:none;
-moz-user-select:none;}

.inkMe:hover {
opacity:0.7;
color:#000;}

.ink {
position:absolute;
display:block;
border-radius:100%;
-webkit-transform: scale(0);
-moz-transform: scale(0);
-o-transform: scale(0);
transform: scale(0);}

.inkDefaultColor {background-color:rgba(68,204,170,0.45);}

.ink.animate{
-webkit-animation:boom 800ms ease-out;
animation:boom 800ms ease-out;}

@-webkit-keyframes boom {
 0% {
transform: scale(0);
-webkit-transform: scale(0);
-moz-transform: scale(0);}

 100% {
transform: scale(2.5);
-webkit-transform: scale(2.5);
-moz-transform: scale(2.5);
opacity: 0;}
}

@keyframes boom{
 0% {
transform: scale(0);
-webkit-transform: scale(0);
-moz-transform: scale(0);}

 100% {
transform: scale(2.5);
-webkit-transform: scale(2.5);
-moz-transform: scale(2.5);
opacity: 0;}
}