body{font-family:'Didact Gothic', sans-serif;margin:0;padding:0;}
html{font-size:100%;}
a#logo {text-decoration:none;color:#fff;}
a.out {padding: 4px 7px 7px;margin: 0 5px;border-radius: 3px;border: 1px solid darkolivegreen;color: #fff;text-decoration: none;background: darkolivegreen;}
a.out:hover {border-bottom:1px dashed white;transition: ease 0.5s all;}
.previewname a{text-decoration:none;color:inherit;    border-bottom: 1px dashed grey;}
header{width:100%;min-height:115px;background:linear-gradient(5deg, #7a847e, #55675d, #596b60);box-shadow:0 0 15px #64AC8F;}
.menuwrap{width:85%;min-height:125px;margin:0 auto;display:flex;flex-flow:row nowrap;justify-content:space-between;align-items:center;color:#fff;letter-spacing:2px;}
span.clouds:hover{color:#E2F5DC;text-shadow:0 0 1px #E7F5DC;cursor:pointer;transition:ease 0.3s;}
.menuitem.links{display:flex;flex-flow:row nowrap;font-size:2rem;}
.links a:link, .links a:visited{color:#fff;text-decoration:none;margin:0 3px;transition:ease 0.5s;}
.links a:hover{color:#E7F5DC;text-shadow:0 0 1px #E7F5DC;transition:ease 0.5s;}
.menuitem.label{width:25%;font-variant:small-caps;font-size:3rem;margin-left:10px;}
.container1{width:85%;margin:0 auto 40px;display:flex;margin-top:35px;}
.leftside{width:33.5%;height:960px;display:flex;margin-top:-8px;flex-flow:column nowrap;align-items:center;position:sticky;top:14px;padding-bottom:25px;}
.betline{position:sticky;top:65px;width:6px;margin:20px auto;height:835px;background:#64AC8F;border-radius:4px;box-shadow:0 1px 2px #000;}
.rightside{margin-top:6px;min-height:70vh;width:66%;display:flex;flex-flow:column nowrap;justify-content:space-around;align-items:center;}
.section{width:94%;min-height:150px;margin:8px auto;display:flex;flex-flow:column nowrap;justify-content:space-around;align-items:center;}
.circle{filter: grayscale(50%);margin:13px auto;width:172px;height:172px;background:url(../guy.jpeg) no-repeat 45%;background-size:cover;border-radius:6px 6px 0 0;box-shadow:0 0 11px teal,inset 0 0 2px #A2CDBC;transition: ease 0.3s;}
.circleart{margin:1px auto 3px;width:56px;height:56px;background:#64AC8F;border-radius:28px;display:flex;justify-content:center;align-items:center;color:#E2F5DC;font-size:2.1rem;transition:ease 0.3s;opacity:0.6;}
.circle:hover {filter: grayscale(0%);box-shadow:0 0 19px teal;border-radius:6px 6px 0 0; transition:ease 0.3s;}
.sectionheader{letter-spacing:1px;font-variant:small-caps;font-size:1.3rem;font-weight:600;text-shadow:1px 0 1px #ccc;}
.sectionfooter{}
.sectionheader::after, .sectionheader::before{content:'';display:inline-block;width:31px;height:1.5px;background:#C0DFC2;margin:4px 18px;}
.sectionbody{width:78%;border-left:1px dashed #C0DFC2;border-right:1px dashed #C0DFC2;padding:2px 12px;margin:13px auto 2px;}
.sectionbody p{margin:5px 0;text-shadow:1px 0 2px #ccc;font-size:13px;}
.sectionbody p:first-letter{color:#4B6154;text-transform:uppercase;font-weight:bold;}
a#phone{text-shadow:0 0 1px grey;transition:ease 0.3s;}
a#phone:hover{border-bottom:1px dashed grey;transition:ease 0.2s;}
.socialwrap{margin:-2px auto;width:75%;min-height:55px;display:flex;flex-flow:row wrap;justify-content:space-around;align-items:center;font-size:1.6rem;color:#4B6154;}
.socialwrap a{color:#4B6154;}
.socialwrap a:hover{text-shadow:0 0 2px lightgrey;color:#5CA487;}
span.date{display:block;}
span.job{color:green;font-weight:bold;letter-spacing:2px;display:block;text-align:right;}
span.offer{color:grey;letter-spacing:1px;text-align:center;display:block;}
.sectionpreview{width:95%;display:flex;flex-flow:row wrap;justify-content:space-around;align-content:space-around;align-items:center;margin:15px auto 0;}
.previewbox{width:29%;min-height:375px;margin:10px auto;box-shadow:0 0 5px #C0DFC2, 0 1px 1px #ccc;display:flex;flex-flow:column nowrap;justify-content:space-around;align-items:center;}
.previewimg{width:97%;min-height:107px;margin-top:2px;}
.previewimg img{width:100%;}
.previewname{font-variant:small-caps;font-size:1.2rem;color:#3A5043;font-weight:bold;letter-spacing:0.5px;}
.previewdecs{width:78%;border-left:1px dashed #C0DFC2;padding:1px 4px;margin:1px auto 11px;font-size:0.8rem;text-align:center;line-height:1.1;}
.previewdecs:first-letter{font-size:1.1rem;}
span.nowon{color:green;font-weight:bold;}
span.nowoff{color:red;font-weight:bold;}
.modalwrap{width:99%;min-height:63vh;display:flex;flex-flow:row nowrap;justify-content:center;align-items:center;}
.modalline{width:2px;margin:0 auto;min-height:58vh;background:#64AC8F;border-radius:4px;box-shadow:0 1px 1px #000;}
.sectiontech{width:40%;min-height:55vh;}
.sectiontech h5{font-size:1.3rem;}
.sectiontabs{width:55%;min-height:55vh;}
.techpreview{margin:0 auto;width:97%;display:flex;flex-flow:row wrap;justify-content:space-around;align-items:center;align-content:space-around;}
.techbox{margin:36px 3px 0;padding:7px;width:82px;height:82px;border-radius:10px;box-shadow:0 0 5px #94D6BA, 3px 3px 2px grey;display:flex;justify-content:center;align-items:center;}
.techbox img{max-width:100%;max-height:99%;}
.fotorama{background:#00000023;padding:7px;border-radius:10px;box-shadow:1px 3px 4px lightgrey;}
.codecase{width:90%;margin:10px auto;}
.firsttab p{margin-top:21px;padding:0 18px;line-height:1.8;font-size:1rem;text-shadow:1px 0 1px lightgrey;}
.ulintab{list-style-image:url(../checklist.png);margin-top:29px;margin-left:10px;}
.ulintab li{margin:4px;letter-spacing:0.5px;}
.phone{margin: 10px auto 5px;width: 80%;}
.nophone{margin:10px auto 0;width:57%;height:534px;background-size:contain;background-image:url("../nophone.png");background-repeat:no-repeat;position:relative;}
.bg-warning{text-align:center;}
img.inphone {width:50%;}
.nophone .frameabsolute{position:absolute;width:156px;height:132px;overflow:hidden;left:21.5%;top:16.4%;}
.tabphone{text-align:center;font-weight:bold;}
.frameabsolute{position:absolute;width:247px;height:416px;overflow:hidden;left:4.5%;top:11.4%;}
iframe.mobileview{overflow:scroll;height:415px;margin-left:13px;max-width:100%;}
.sectionbody.skills{width:97%;min-height:120px;border:none;display:flex;flex-flow:row wrap;justify-content:space-around;align-items:center;align-content:space-around;}
.skillbox{width:160px;height:160px;margin:12px;display:flex;flex-flow:column nowrap;align-items:center;justify-content:center;box-shadow:0 0 10px grey, 2px 2px 2px #367E61;border-radius:2px;}
.skillimg{height:80px;display:flex;justify-content:center;align-items:center;}
img.skill{max-width:84px;max-height:83px;margin:1px 0;}
img.range{max-width:52px;max-height:52px;transform:rotate(180deg);margin-top:8px;filter:sepia(190%);transition:ease 0.3s;}
img.range1{max-width:57px;max-height:64px;margin-top:3px;filter:sepia(190%);transition:ease 0.3s;transform:rotate(0deg);}
img.range:hover, img.range1:hover{filter:sepia(0);transition:ease 0.3s;}
.legendwrap{width:71%;margin:10px auto;display:flex;flex-flow:row wrap;align-items:center;justify-content:space-between;align-content:space-around;}
.legendbox{width:126px;min-height:219px;text-align:center;margin:6px;padding:1px;border-radius:15px 15px 0 0;border:1px dashed green;border-bottom:1px solid green;box-shadow:0 0 1px green;}
.legendbox img{height:100%;width:100%;}
span.legend{font-size:1.1rem;font-weight:bold;text-shadow:0 1px 1px grey;}
p.legend{padding:1px 10px;}
.elua{padding:36px 7px}
.skillbox > a{cursor:help;}
#sendto{margin-bottom:75px;}
