@font-face {
	font-family: 'azbuka';
	src: url(../fonts/azbuka.ttf);
}
* {
	font-family: 'azbuka', sans-serif;
}
body {
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

html {
	font-size: 16px;
}
* a, * a:hover, * a:active, a:link, a:visited {
	text-decoration: none;
}
.imgbox {
	width: 100%;
	height: 45vh;
	background: url(../img/head.jpg) 70% 1%;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbox {
	width: 100%;
	min-height: 6vh;
	background: linear-gradient(to right, rgba(157,169,198,1) 0%,rgba(208,215,219,1) 60%,rgba(157,169,198,1) 100%);
	box-shadow: 0 0 10px lightgrey;
	position: sticky;
	top:0px;
	z-index: 213;
	overflow: hidden;
}
nav {
	width: 75%;
	margin: 0 auto;
	min-height: 7vh;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;

}
.navbutton {
	text-align: center;
	width: 177px;
	transition: ease 0.7s;
	height: 6vh;
	line-height: 6vh;
	color: #030303;
	font-size: 1.6rem;
	font-variant: small-caps;
	letter-spacing: 1px;
	transition: ease 0.3s;
	font-weight: 700;
}
.navbutton:hover, nav a:hover {
	transition: ease 0.4s;
	color: #fff;
}
.achbox {
	width: 100%;
	background: #ccc;
}
.achwrap {
	width: 75%;
	background: #fff;
	min-height:412px;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
.for-hover a {
    /* width: 55%; */
    display: block;
    color: #000;
    padding-left: 7px;
    letter-spacing: 1px;
    text-shadow: 1px 0 1px grey;
}
.achitem {
	width: 17%;
	min-height: 39vh;
	margin:35px 0;
	padding: 5px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0 0 25px grey;
	padding-top: 14px;
	border-radius: 12px;
	transition: ease 0.4s;
}
.achitem:hover {
	border-radius: 1px;
	box-shadow: 0 0 11px grey;
	transition: ease 0.4s;
}
.achhead {
	font-size: 1.6rem;
}
.achpic {
	max-width: 60%;
	height: 40%;
	margin: 0 auto;
}
.achpic img {
	max-width: 100%;
	max-height: 100%;
}
.achdesc {
	width: 96%;
	padding: 1px 4px;
	line-height: 1.5rem;
	text-align: center;
}

.block {
	width: 100%;
	background: #ccc;
}
.blockwrap {
	width: 75%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	background: #fff;
	box-shadow: 0 2px 5px #fff;
}
.blockhead {
	width: 100%;
	height: 43px;
	text-align: right;
	padding-right: 55px;
	font-size: 1.5rem;
	box-shadow: 0 0 3px grey;
	color: #000;
    background: linear-gradient(to right, rgba(206,220,231,1) 0%,rgba(157,169,198,1) 60%,rgba(237,242,244,1) 100%);
}
.servicebox h3 {
	text-align: right;
	font-variant: small-caps;
	letter-spacing: 1px;
}
.enter {
	text-align: center;
	width: 50%;
	font-variant: small-caps;
	margin: 40px auto 0; 
}
.enter h4 {
	font-size: 2rem;
	line-height: 2.9rem;
}
.examples {
	width: 84%;
	margin: 15px auto 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
footer {
	width: 100%;
	height: 45px;
    background: linear-gradient(to right, rgba(206,220,231,1) 0%,rgba(157,169,198,1) 60%,rgba(237,242,244,1) 100%);
}
.footerwrap {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
.aboutus {
	margin-top: 45px;
	display: flex;
	width: 95%;	
	min-height: 150px;
	align-items: center;
}
.cell1 {
	width: 65%;	
	height: 100%;	
	padding:0 15px;
	font-size: 1.2rem;
	 text-indent: 15px;
}
.cell2 {
	width: 30%;
	box-shadow: inset 0 0 2px grey, -1px 0 1px black;
	border-radius: 5px;
}
/* эффекты для категорий */

.for-hover {
	width:38%;
	height: 279px;
	margin: 56px auto;
	position: relative;
	border-radius: 10px;
	box-shadow: 2px 2px 4px grey;
}
img {
	width: 100%;
	height: 100%;
    border-radius: 5px;
}
.for-span {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000000bc;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-content: space-around;
	align-items: center;
	color: #fff;
 	box-shadow: 0 0 100px #000;
	letter-spacing: 2px;
	opacity: 0;
  	border-radius: 10px;
	transition: ease 1s;
	font-size: 1.3rem;
}
span#hovered {
  	color:#ffffffcf;
	font-weight: 100;
 	margin-bottom: 13px;
 	margin-left: 30%;
  	transition: ease 1s;
}
h2#hovered {
	font-size: 29px;
 	text-transform: uppercase;
	font-weight: 400;
 	margin-right: 19%;
  	transition: ease 1s;
}
a#hovered {
	text-decoration: none;
	margin-top: 20px;
	color: inherit;
	font-variant: small-caps;
	border: 2px solid #00000001;
	padding: 9px;
   	margin-bottom: -25%;
	transition: ease 0.6s;
}
a#hovered:hover {
	color: #fff;
	text-shadow: 0 0 6px #fff;
	border: 2px solid #fff;
	border-radius: 4px;
	transition: ease 0.6s;
}
.for-span:hover {
	opacity: 1;
  	box-shadow: 0 0 9px #000;
	transition: ease 0.6s;
}
.for-span:hover h2#hovered {
	 margin-right: 0;
	 transition: ease 1s;
}
.for-span:hover span#hovered {
	 margin-left: 0;
 	 transition: ease 1s;
}
.for-span:hover a#hovered {
 	margin-bottom: 0;
  	transition: ease 1s;
}

/* конец эффектов для категорий */
/* модальное окно */

.modalwrap {
	width: 100%;
	min-height: 69vh;
}
.fortable {
	overflow-y: scroll;
	width: 95%;
	height:49vh;
	margin:7px auto 15px;
	padding:10px 0 0 0;
	background: lightgrey;
	border-radius: 5px;
	box-shadow: 0 0 5px black;
}
.fortable th, .fortable td {
	text-align: center;
	border-left: 1px solid grey;
}
.noshade {
	box-shadow: none;
}
.forabout {
	width: 99%;
	margin: 1px auto;
	height: 58vh;
	overflow-y: scroll;
}
.forabout.secondversion {
	overflow-y:  visible;
	min-height: 40vh;
}
.aboutitem {
	width: 80%;
	margin: 20px auto;
	display: flex;
	min-height: 150px;
	background: linear-gradient(45deg, #F6F6F6, #F1F1F1);
	border-radius: 5px;
	box-shadow: 0 0 5px grey;
	flex-flow: column nowrap;
	justify-content: space-between;
	padding: 5px;
}
.aboutp {
	min-height: 230px;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: center;
	text-indent: 6px;
}
.aboutp > img {
	box-shadow: 0 0 2px grey;
}
.abouthead {
	font-size: 1.5rem;
	border-bottom: 1px solid lightgrey;
	margin-bottom: 8px;
	padding: 0 25px;
	background: lightgrey;
	border-radius: 5px;
}
.abouthead2 {
	text-align: right;
	font-size: 1.6rem;
	border-bottom: 1px solid lightgrey;
	margin-bottom: 10px;
	padding: 0 25px;
	background: lightgrey;
	border-radius: 5px;
}
.aboutp img {
	width: 30%;
	height: 100%;

}
.aboutp p {
	width: 50%;

}

/* конец модального окна */

.contactswrap {
	width: 100%;
	min-height: 75vh;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
.side {
	width: 49%;
	min-height: 70vh;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
.line {
	width: 0.3%;
	height: 68vh;
	background: linear-gradient(to right, rgba(206,220,231,1) 0%,rgba(157,169,198,1) 60%,rgba(237,242,244,1) 100%);
	border-radius: 5px;
}

/* cтиль формы обратной связи */
.ifsuccess {
	width: 100%;
	height:100%;
	z-index:55;
	position: absolute;
	filter: blur(8px;);
	justify-content: center;
	align-items: center;
	font-size: 1.6rem;
	display: none;
}
.ifsuccess.active {
	background: #fff;
	display: flex;

}
span#success {
	font-size: 2rem;
	display: block;
	border-bottom: 1px solid grey;

}
.formwrap {
	width: 95%;
	margin: 0 auto;
	min-height:65vh;
	padding: 5px;
	position: relative;
	display: flex;
	flex-flow: column wrap;
}
.formheader {
	font-size: 2rem;
	letter-spacing: 1px;
	margin: 7px 7px 0 ;
	border-bottom: 1px solid grey;
}
p#form {
	text-align: right;
	margin: 0 14px 90px 0;
	font-size: 0.8rem;
}
.forinput {
	width: 90%;
	position: relative;
	display: flex;
	flex-flow: column wrap;
	margin: 15px auto;
}
.forinput input {
	border-top: none;
	border-right: none;
	border-left: 1px dashed grey;
	width: 85%;
	margin: 10px auto 0;
	border-bottom: 2px solid grey;
}
.forinput input:focus {
	border-top: none;
	border-right: none;
	border-bottom: 2px solid green;
	box-shadow: none;
	outline: none;
	letter-spacing: 2px;
	font-weight: bold;
	padding-left: 3px;
}
label#label {
	margin-left: 50px;
	position: absolute;

	min-width:85px;
	text-align: right;
	top: 22%;
	right: 8%;
}
.fortext {
	width: 77%;
	display: flex;
	flex-flow: column wrap;
	margin: 25px auto;
	font-size: 1rem;
}
textarea {
	border-bottom: 2px solid grey;
	border-right: 1px dashed grey;
	border-top: none;
	border-left: 1px dashed grey;
}
textarea:focus {
	outline: none;
	border-bottom: 2px solid green;
	border-right: 1px dashed grey;
	border-top: none;
	border-left: 1px dashed grey;
	letter-spacing: 1px;
}
.forbutton {
	width: 45%;
	display: flex;
	flex-flow: column wrap;
	margin: 25px auto;
}
select {
	border-radius: 10px;
	outline: none;
	padding:2px 1px;
	border-bottom: 2px solid grey;
}
select:focus {
	outline: none;
	border-bottom: 2px solid green;
	border-top: none;
}
/* конец стиля обратной связи */



@media only screen 
and (max-width : 680px)
and (min-width : 272px) {

.achwrap {
	flex-flow: column nowrap;
	width: 95%;
}
.topheader {
	min-height: 300px;
}
.bottomheader {
	min-height:350px;
}
.achbox {
	min-height: 50vh;
}
.achitem {
    width: 76%;
    min-height: 357px;
    display: flex;
    margin: 17px auto 20px;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 15px grey;
    padding-top: 11px;
    border-radius: 12px;
    transition: ease 0.4s;
   }
.achitem:first-child {
	margin-top: 63px;
}
.achpic img {
    max-width: 89%;
    max-height: 89%;
}
.achdesc p {
	font-size: 1.3rem;
	line-height: 1.7rem;
	padding: 5px;
}
.blockwrap {
	width: 95%;	
}
.enter {
	width: 88%;
	margin: 20px auto;	
}
.enter h4 {
	font-size: 1.7rem;
	line-height: 2rem;
}
.examples {
	width: 95%;	
	margin: 0 auto;
	flex-flow: column nowrap;
}
.for-hover {
    width: 97%;
    height: 263px;
    margin: 47px auto;
    position: relative;
    border-radius: 13px 13px 0 0 ;
    box-shadow: 2px 2px 4px grey;
}
.for-hover img {
	border-radius: 13px 13px 0 0 ;
}
.for-hover a {
	border-bottom: none;
	width: 100%;
	padding:0;
}
.for-hover h4 {
	display: block;
	box-shadow: 2px 2px 3px grey;
	width: 100%;	
	color: #fff;
	letter-spacing: 2px;
	text-shadow: 0 1px 5px black;
	text-align: center;
	background: grey;
	font-size: 25px;
	padding: 5px;
	font-variant: small-caps;
	margin-top: -2px;
	border-radius: 0 0 13px 13px;
}
.contactswrap {
	flex-flow: column nowrap;
}
.line {
	display: none;
}
.side {
	width: 96%;	
}
p#form {
	font-size: 1.1rem;
}
.formwrap {
	width: 99%;	
	font-size: 1.2rem;
}
footer {
    width: 100%;
    height: 55px;
    font-size: 1.2rem;
}
.forbutton {
    width: 59%;
    display: flex;
    flex-flow: column wrap;
    margin: 20px auto;
}
.forinput {
	width: 97%;	
	margin: 24px auto;
}
label#label {
    margin-left: 50px;
    position: absolute;
    min-width: 85px;
    text-align: right;
    top: 94%;
    right: 8%;
}
.fortext {
	width: 83%;	
	margin-top:50px;
}

.forabout{
	overflow-y: scroll;
	height: 50vh;
} 
li>a {
	font-size: 1.3rem;
	letter-spacing: 1px;
}
.abouthead2 {
    text-align: right;
    font-size: 1.4rem;
}
.aboutitem {
    width: 99%;
    margin: 17px auto;
    display: flex;
    min-height: 325px;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 2px;
}
.navbutton {
	width: 165px;
}
.aboutp img {
	display: none;
}

.aboutp p{
	 width: 99%;
	 margin: 5px 1px;
}
.aboutp {
	flex-flow: column nowrap;
	min-height: 100px;
}
.btn {
    display: inline-block;
    padding: 12px 18px;
    margin-bottom: 0;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.428571;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 8px;
}
ul.nav>li>a {
	font-size: 14.5px !important;
	padding: 3px 4px;
	letter-spacing: 0;
}
.forabout {
	min-height: 84vh !important;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
}


}
